.section__cards {
   margin-top: 224px;
   padding: 0 80px;


   div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

   }

   .second-img {
      margin-top: 43px;
   }

   .third {
      margin-top: 45px;
   }
}