.section-result {
   background-color: $nav__bg;

   .grid__container-result {
      width: 100%;
      height: 244px;
      color: #fff;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-columns: repeat(4, 1fr);
   }

   .grid__div {
      display: flex;
      justify-content: space;
      padding: 70px 0 0 65px;
   }

   .grid__img {
      margin-right: 15px;
   }

   .company__text {
      width: 160px;
   }
}